Source: watchteleboy
Priority: optional
Maintainer: Roman Haefeli <reduzent@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.5
Section: misc
Homepage: http://github.com/reduzent/watchteleboy

Package: watchteleboy
Architecture: all
Depends: jq,
         omxplayer | mpv | mplayer | vlc,
         curl,
         ${misc:Depends}
Suggests: tvbrowser,
         whiptail
Description: Watch  and record TV streams from teleboy.ch
 Simple program to watch and record teleboy.ch IPTV streams: 
  * No additional ads
  * No flash nor web browser required
  * allows streams to be recorded
  * supports live pause and seeking (e.g. for skipping commercials)
  * can watch or record shows up to six hours after air-time. 
